# DOCS: https://docs.directus.io/self-hosted/config-options.html
# NOTE: Variables referenced by `${}` are pulled in by your .env file
# NOTE: After updating any environment variable, you need to restart your docker container.

# GENERAL
PUBLIC_URL=

# DATABASE
DB_CLIENT=""
DB_HOST=""
DB_PORT=""
DB_DATABASE="${POSTGRES_DB}"
DB_USER="${POSTGRES_USER}"
DB_PASSWORD="${POSTGRES_PASSWORD}"

# CACHE
CACHE_ENABLED=""
CACHE_AUTO_PURGE=""
CACHE_STORE=""
REDIS=""

# ADMIN ACCOUNT
ADMIN_EMAIL=""
ADMIN_PASSWORD=""

# SECURITY
SECRET=""
ACCESS_TOKEN_TTL=
