---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title="Lass uns endlich Mathematik verstehen"
  description="Lerne in Deiner eigenen Geschwindigkeit"
>
  <h1>Welcome</h1>
</BaseLayout>
