@import "tailwindcss";

@theme {
	--color-primary-50: oklch(93.82% 0.023 252.18);
	--color-primary-100: oklch(86.93% 0.049 251.24);
	--color-primary-200: oklch(74.99% 0.097 251.91);
	--color-primary-300: oklch(62.45% 0.15 253.88);
	--color-primary-400: oklch(50.43% 0.144 254.71);
	--color-primary-500: oklch(37.13% 0.101 254.72);
	--color-primary-600: oklch(31.97% 0.084 254.24);
	--color-primary-700: oklch(27.02% 0.067 253.45);
	--color-primary-800: oklch(21.89% 0.048 252.73);
	--color-primary-900: oklch(15.11% 0.026 250.77);
	--color-primary-950: oklch(12.41% 0.019 242.87);

	--color-secondary-50: oklch(92.75% 0.025 257.65);
	--color-secondary-100: oklch(85.67% 0.05 255.91);
	--color-secondary-200: oklch(72.14% 0.101 257.16);
	--color-secondary-300: oklch(58.39% 0.156 257.39);
	--color-secondary-400: oklch(45.17% 0.13 257.51);
	--color-secondary-500: oklch(31.61% 0.085 257.82);
	--color-secondary-600: oklch(27.34% 0.068 257.02);
	--color-secondary-700: oklch(23.42% 0.055 256.13);
	--color-secondary-800: oklch(19.11% 0.041 258.11);
	--color-secondary-900: oklch(13.63% 0.022 248.6);
	--color-secondary-950: oklch(11.1% 0.013 239.32);

	--color-tertiary-50: oklch(97.55% 0.005 258.32);
	--color-tertiary-100: oklch(94.33% 0.01 247.94);
	--color-tertiary-200: oklch(88.87% 0.02 245.66);
	--color-tertiary-300: oklch(84.01% 0.028 244.73);
	--color-tertiary-400: oklch(78.15% 0.039 245.88);
	--color-tertiary-500: oklch(72.3% 0.05 247.57);
	--color-tertiary-600: oklch(61.25% 0.071 247.75);
	--color-tertiary-700: oklch(50.15% 0.063 247.65);
	--color-tertiary-800: oklch(37.35% 0.044 246.72);
	--color-tertiary-900: oklch(24.64% 0.025 246.43);
	--color-tertiary-950: oklch(17.89% 0.016 248.71);

	--color-surface-50: oklch(92.91% 0.026 253.57);
	--color-surface-100: oklch(85.06% 0.057 252.57);
	--color-surface-200: oklch(70.18% 0.118 253.98);
	--color-surface-300: oklch(56.59% 0.172 256.17);
	--color-surface-400: oklch(42.72% 0.124 255.86);
	--color-surface-500: oklch(26.4% 0.068 255.34);
	--color-surface-600: oklch(23.76% 0.057 254.4);
	--color-surface-700: oklch(19.41% 0.044 254.72);
	--color-surface-800: oklch(16.04% 0.031 250.96);
	--color-surface-900: oklch(12.41% 0.019 242.87);
	--color-surface-950: oklch(10.96% 0.018 236.44);

	--color-highlight-50: oklch(99.3% 0.002 145.56);
	--color-highlight-100: oklch(99.3% 0.002 145.56);
	--color-highlight-200: oklch(98.6% 0.003 145.55);
	--color-highlight-300: oklch(97.9% 0.005 145.54);
	--color-highlight-400: oklch(96.47% 0.01 140.52);
	--color-highlight-500: oklch(96.07% 0.011 141.26);
	--color-highlight-600: oklch(82.6% 0.052 141.54);
	--color-highlight-700: oklch(69.8% 0.09 140.78);
	--color-highlight-800: oklch(53.1% 0.083 140.71);
	--color-highlight-900: oklch(33.19% 0.047 141.28);
	--color-highlight-950: oklch(21.36% 0.025 139.95);
}

@utility container {
	@apply mx-auto w-full max-w-7xl px-4;
}
