---
import "../styles/app.css";

import SiteHeader from "@components/SiteHeader.vue";
import SiteFooter from "@components/SiteFooter.vue";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const path = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body
    class="bg-surface-900 text-highlight-500 text-step-base grid min-h-screen grid-rows-[auto_1fr_auto] leading-normal"
  >
    <SiteHeader currentPath={path} />
    <main class="relative">
      <div
        aria-hidden="true"
        class="from-primary-800 via-primary-500/40 to-primary-800 absolute inset-x-0 -z-10 h-10 bg-gradient-to-r blur-3xl content-['']"
      >
      </div>

      <div class="wrapper gap-y-2xl-3xl pt-2xl-3xl flex flex-col">
        <slot />
      </div>
    </main>
    <SiteFooter />
  </body>
</html>
